@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 mt-4">Welcome to Bank Managment System</h1>
    <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <div>
                <a class="btn btn-primary btn-lg" asp-action="Edit" asp-controller="Account">Edit Details</a>
            </div>
            <div class="mt-4">
                <a class="btn btn-primary btn-lg">Take a Loan</a>
            </div>
        }
        else
        {
            <div>
                <a class="btn btn-primary btn-lg pl-4 pr-4" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
            <div class="mt-4">
                <a class="btn btn-primary btn-lg" asp-action="Register" asp-controller="Account">Register</a>
            </div>
        }
    </div>
</div>
