@model BankManagementSystem.Models.EducationLoan
@using BankManagementSystem.Models.Enum

@{
    ViewData["Title"] = "Education Loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Education Loan</h3>
<hr />
<div class="container">
    <form asp-action="EducationLoan" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="LoanAmount" class="control-label"></label>
                    <input asp-for="LoanAmount" class="form-control" type="number" />
                    <span asp-validation-for="LoanAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="LoanDuration" class="control-label"></label>
                    <select asp-for="LoanDuration" asp-items="Html.GetEnumSelectList<LoanDuration>()" class="custom-select"></select>
                    <span asp-validation-for="LoanDuration" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CourseFee" class="control-label"></label>
                    <input asp-for="CourseFee" class="form-control" type="number" />
                    <span asp-validation-for="CourseFee" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="CourseName" class="control-label"></label>
                    <input asp-for="CourseName" class="form-control" />
                    <span asp-validation-for="CourseName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FatherName" class="control-label"></label>
                    <input asp-for="FatherName" class="form-control" />
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FatherSalary" class="control-label"></label>
                    <input asp-for="FatherSalary" class="form-control" type="number" />
                    <span asp-validation-for="FatherSalary" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FatherOccupation" class="control-label"></label>
                    <input asp-for="FatherOccupation" class="form-control" />
                    <span asp-validation-for="FatherOccupation" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FatherCompany" class="control-label"></label>
                    <input asp-for="FatherCompany" class="form-control" />
                    <span asp-validation-for="FatherCompany" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <div class="form-group">
                    <input type="submit" value="Take Loan" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <input type="reset" value="Reset" class="btn btn-danger" />
                </div>
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
