@model BankManagementSystem.Models.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card mb-3 border-secondary">
            <div class="card-header text-center h3">Log In</div>
            <div class="card-body">
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="RememberMe" class="custom-control-input" checked="" />
                            <label asp-for="RememberMe" class="custom-control-label"></label>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Log In" class="btn btn-primary" />
                    </div>
                    <p>
                        <a asp-action="Register">Register as a new user?</a>
                    </p>
                    @Html.AntiForgeryToken()
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
