@model BankManagementSystem.Models.ViewModel.RegisterViewModel
@using BankManagementSystem.Models.Enum

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Register</h3>
<hr />
<div class="container">
    <form asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="custom-select" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="MartialStatus" class="control-label"></label>
                    <select asp-for="MartialStatus" class="custom-select" asp-items="Html.GetEnumSelectList<MartialStatus>()"></select>
                    <span asp-validation-for="MartialStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" type="date" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <textarea asp-for="Address" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <select asp-for="State" class="custom-select" asp-items="Html.GetEnumSelectList<State>()"></select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="BankAccountType" class="control-label"></label>
                    <select asp-for="BankAccountType" class="custom-select" asp-items="Html.GetEnumSelectList<BankAccountType>()"></select>
                    <span asp-validation-for="BankAccountType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Deposit" class="control-label"></label>
                    <input asp-for="Deposit" class="form-control" type="number" />
                    <span asp-validation-for="Deposit" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="IdentificationProofType" class="control-label"></label>
                    <select asp-for="IdentificationProofType" class="custom-select" asp-items="Html.GetEnumSelectList<IdentificationProofType>()"></select>
                    <span asp-validation-for="IdentificationProofType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="IdentificationDocumentNumber" class="control-label"></label>
                    <input asp-for="IdentificationDocumentNumber" class="form-control" />
                    <span asp-validation-for="IdentificationDocumentNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <input type="reset" value="Reset" class="btn btn-danger" />
                </div>
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}